@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: Nunito;
    font-weight: 500;
    src: url(/fonts/Nunito-Medium.ttf) format("ttf");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 600;
    src: url(/fonts/Nunito-SemiBold.ttf) format("ttf");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 700;
    src: url(/fonts/Nunito-Bold.ttf) format("ttf");
  }
  @font-face {
    font-family: Nunito;
    font-weight: 800;
    src: url(/fonts/Nunito-ExtraBold.ttf) format("ttf");
  }
}

@layer components {
  .main-bg {
    position: relative;
  }

  .border-tr {
    border-color: transparent;
  }

  .main-bg::before {
    position: absolute;
    content: "";
    top: -20px;
    right: -64px;
    background: linear-gradient(
      207deg,
      #eca139 16.36%,
      rgba(236, 161, 57, 0.63) 117.19%
    );
    clip-path: path(
      "M0 6.16631C0 0.55161 4.55161 -4 10.1663 -4H608V748H10.1663C4.55164 748 0 743.448 0 737.834C0 609.047 104.403 504.644 233.19 504.644H294.062C337.872 504.644 373.386 469.129 373.386 425.32V318.681C373.386 274.871 337.872 239.356 294.062 239.356H233.19C104.402 239.356 0 134.953 0 6.16631Z"
    );
    height: 752px;
    width: 608px;
    z-index: -1;
  }

  .main-dish-ellipse {
    position: relative;
  }

  .main-dish-ellipse::after {
    position: absolute;
    content: "";
    width: 497px;
    height: 497px;
    border-radius: 100%;
    border: 3px solid #fff;
    opacity: 0.3;
    top: -40px;
    right: -40px;
    bottom: -40px;
    margin: auto;
  }

  .main-dish-ellipse::before {
    position: absolute;
    content: "";
    width: 578px;
    height: 578px;
    border-radius: 100%;
    border: 3px solid #fff;
    opacity: 0.3;
    top: -80px;
    right: -80px;
    bottom: -80px;
    margin: auto;
  }

  .main-small-dish-one {
    position: absolute;
    top: 43px;
  }

  .main-small-dish-two {
    position: absolute;
    right: 0px;
    top: 170px;
  }

  .main-small-dish-three {
    position: absolute;
    bottom: 54px;
  }

  .saleBlock {
    background: linear-gradient(85deg, #eca139 19.93%, #ebc99b 126.22%);
  }

  .saleBlock::after {
    content: "";
    width: 560px;
    height: 354px;
    position: absolute;
    right: 37px;
    top: 0;
    background: url("/images/decor-food-sale.png");
  }

  .saleBlock::before {
    content: "";
    width: 696px;
    height: 442px;
    position: absolute;
    right: 76px;
    bottom: 0;
    background: url("/images/woman.png");
  }

  .stages {
    position: relative;
  }

  .arrow-right::after {
    color: black;
    content: "→";
    font-size: 20px;
    position: absolute;
    left: 100%;
    top: 50%;
    transform: translateY(-50%);
  }
}
